In [19]:

import pandas as pd
import numpy as np
import requests
from tqdm.auto import tqdm
from scipy.stats import mode 
from pprint import pprint
from implicit.nearest_neighbours import CosineRecommender, TFIDFRecommender
import warnings
warnings.filterwarnings("ignore")

from rectools import Columns
from rectools.dataset import Dataset

from userknn import UserKnn

pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 200)

# Get KION dataset 

<a href="https://ods.ai/competitions/competition-recsys-21/data"> Dataset description [ru] </a>

In [20]:
# download dataset by chunks
url = "https://storage.yandexcloud.net/itmo-recsys-public-data/kion_train.zip"

req = requests.get(url, stream=True)

with open('kion_train.zip', "wb") as fd:
    total_size_in_bytes = int(req.headers.get('Content-Length', 0))
    progress_bar = tqdm(desc='kion dataset download', total=total_size_in_bytes, unit='iB', unit_scale=True)
    for chunk in req.iter_conÂ§tent(chunk_size=2 ** 20):
        progress_bar.update(len(chunk))
        fd.write(chunk)

In [21]:
!unzip kion_train.zip

# EDA

In [22]:
interactions = pd.read_csv('kion_train/interactions.csv')
users = pd.read_csv('kion_train/users.csv')
items = pd.read_csv('kion_train/items.csv')

In [23]:
# rename columns, convert timestamp
interactions.rename(columns={'last_watch_dt': Columns.Datetime,
                            'total_dur': Columns.Weight}, 
                    inplace=True) 

interactions['datetime'] = pd.to_datetime(interactions['datetime'])

## interactions

In [24]:
pd.concat([interactions.head(), interactions.tail()])

         user_id  item_id   datetime  weight  watched_pct
0         176549     9506 2021-05-11    4250         72.0
1         699317     1659 2021-05-29    8317        100.0
2         656683     7107 2021-05-09      10          0.0
3         864613     7638 2021-07-05   14483        100.0
4         964868     9506 2021-04-30    6725        100.0
5476246   648596    12225 2021-08-13      76          0.0
5476247   546862     9673 2021-04-13    2308         49.0
5476248   697262    15297 2021-08-20   18307         63.0
5476249   384202    16197 2021-04-19    6203        100.0
5476250   319709     4436 2021-08-15    3921         45.0

In [25]:
print(f"Interactions dataframe shape: {interactions.shape}")
print(f"Unique users in interactions: {interactions['user_id'].nunique():_}")
print(f"Unique items in interactions: {interactions['item_id'].nunique():_}")

Interactions dataframe shape: (5476251, 5)
Unique users in interactions: 962_179
Unique items in interactions: 15_706

In [26]:
max_date = interactions['datetime'].max()
min_date = interactions['datetime'].min()

print(f"min date in interactions: {min_date}")
print(f"max date in interactions: {max_date}")

min date in interactions: 2021-03-13 00:00:00
max date in interactions: 2021-08-22 00:00:00

In [27]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5476251 entries, 0 to 5476250
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   user_id      int64
 1   item_id      int64
 2   datetime     datetime64[ns]
 3   weight       int64
 4   watched_pct  float64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 208.9 MB

## users

In [28]:
pd.concat([users.head(), users.tail()])

        user_id         age        income  sex  kids_flg
0        973171   age_25_34  income_60_90    Ð         1
1        962099   age_18_24  income_20_40    Ð         0
2       1047345   age_45_54  income_40_60    Ð         0
3        721985   age_45_54  income_20_40    Ð         0
4        704055   age_35_44  income_60_90    Ð         0
840192   339025  age_65_inf   income_0_20    Ð         0
840193   983617   age_18_24  income_20_40    Ð         1
840194   251008         NaN           NaN  NaN         0
840195   590706         NaN           NaN    Ð         0
840196   166555  age_65_inf  income_20_40    Ð         0

In [29]:
print(f"Users dataframe shape {users.shape}")
print(f"Unique users: {users['user_id'].nunique():_}")

Users dataframe shape (840197, 5)
Unique users: 840_197

## items

In [30]:
pd.concat([items.head(2), items.tail(2)])

,item_id,content_type,title,title_orig,release_year,genres,countries,for_kids,age_rating,studios,directors,actors,description,keywords
0,10711,film,ÐÐ¾Ð³Ð¾Ð²Ð¾ÑÐ¸ Ñ Ð½ÐµÐ¹,Hable con ella,2002.0,"Ð´ÑÐ°Ð¼Ñ, Ð·Ð°ÑÑÐ±ÐµÐ¶Ð½ÑÐµ, Ð´ÐµÑÐµÐºÑÐ¸Ð²Ñ, Ð¼ÐµÐ»Ð¾Ð´ÑÐ°Ð¼Ñ",ÐÑÐ¿Ð°Ð½Ð¸Ñ,NaN,16.0,NaN,ÐÐµÐ´ÑÐ¾ ÐÐ»ÑÐ¼Ð¾Ð´Ð¾Ð²Ð°Ñ,"ÐÐ´Ð¾Ð»ÑÑÐ¾ Ð¤ÐµÑÐ½Ð°Ð½Ð´ÐµÑ, ÐÐ½Ð° Ð¤ÐµÑÐ½Ð°Ð½Ð´ÐµÑ, ÐÐ°ÑÐ¸Ð¾ ÐÑÐ°Ð½Ð´Ð¸Ð½ÐµÑÑÐ¸, ÐÐ¶ÐµÑÐ°Ð»ÑÐ´Ð¸Ð½ Ð§Ð°Ð¿Ð»Ð¸Ð½, ÐÐ»ÐµÐ½Ð° ÐÐ½Ð°Ð¹Ñ, ÐÐ°ÑÑÐ°Ð½Ð¾ ÐÐµÐ»Ð¾Ð·Ð¾, ÐÐµÐ¾Ð½Ð¾Ñ Ð£Ð¾ÑÐ»Ð¸Ð½Ð³, ÐÐ¾Ð»Ð° ÐÑÑÐ½ÑÑÑ, ÐÐ¾Ð»ÐµÑ ÐÐµÐ¾Ð½, ÐÐ°Ð»Ñ ÐÐ¹ÑÐ¾Ð´Ð¾, ÐÐ°ÑÐ¸Ð¾Ð»Ð° Ð¤ÑÑÐ½ÑÐµÑ, ÐÐ°Ñ ÐÐµÐ³Ð°, ÐÐ¸Ð½Ð° ÐÐ°ÑÑ, Ð Ð¾...",ÐÐµÐ»Ð¾Ð´ÑÐ°Ð¼Ð° Ð»ÐµÐ³ÐµÐ½Ð´Ð°ÑÐ½Ð¾Ð³Ð¾ ÐÐµÐ´ÑÐ¾ ÐÐ»ÑÐ¼Ð¾Ð´Ð¾Ð²Ð°ÑÐ° Â«ÐÐ¾Ð³Ð¾Ð²Ð¾ÑÐ¸ Ñ Ð½ÐµÐ¹Â» Ð² 2003 Ð³Ð¾Ð´Ñ Ð¿Ð¾Ð»ÑÑÐ¸Ð»Ð° Ð¿ÑÐµÐ¼Ð¸Ñ Â«ÐÑÐºÐ°ÑÂ» Ð·Ð° Ð»ÑÑÑÐ¸Ð¹ ÑÑÐµÐ½Ð°ÑÐ¸Ð¹. ÐÑÑÐ½Ð°Ð»Ð¸ÑÑ ÐÐ°ÑÐºÐ¾ Ð±ÐµÑÐµÑ Ð¸Ð½ÑÐµÑÐ²ÑÑ Ñ Ð·Ð½Ð°Ð¼ÐµÐ½Ð¸ÑÐ¾Ð¹ Ð¶ÐµÐ½ÑÐ¸Ð½Ñ-ÑÐ¾ÑÐµÑÐ¾ ÐÐ¸Ð´Ð¸Ð¸ Ð¸ Ð²ÑÐºÐ¾ÑÐµ Ð²Ð»ÑÐ±Ð»ÑÐµ...,"ÐÐ¾Ð³Ð¾Ð²Ð¾ÑÐ¸, Ð½ÐµÐ¹, 2002, ÐÑÐ¿Ð°Ð½Ð¸Ñ, Ð´ÑÑÐ·ÑÑ, Ð»ÑÐ±Ð¾Ð²Ñ, ÑÐ¸Ð»ÑÐ½ÑÐµ, Ð¶ÐµÐ½ÑÐ¸Ð½Ñ, Ð¿ÑÐµÐ¾Ð´Ð¾Ð»ÐµÐ½Ð¸Ðµ, ÑÑÑÐ´Ð½Ð¾ÑÑÐµÐ¹, Ð¾ÑÐ½Ð¾ÑÐµÐ½Ð¸Ñ, Ð´ÑÑÐ¶Ð±Ð°, Ð¾ÑÐ½Ð¾ÑÐµÐ½Ð¸Ñ, Ð¿Ð°ÑÐµ, Ð¾ÑÐ½Ð¾ÑÐµÐ½Ð¸Ñ, Ð¼ÑÐ¶ÑÐ¸Ð½Ñ, Ð¶ÐµÐ½ÑÐ¸Ð½Ñ, ÑÐ¾Ð¼Ð°Ð½ÑÐ¸ÑÐµÑÐºÐ¸Ðµ, Ð¾ÑÐ½Ð¾ÑÐµÐ½Ð¸Ñ, Ð¿Ð¾ÑÐµÑÑ, Ð±Ð»Ð¸Ð·ÐºÐ¸Ñ ,..."
1,2508,film,ÐÐ¾Ð»ÑÐµ Ð¿ÐµÑÑÑ,Search Party,2014.0,"Ð·Ð°ÑÑÐ±ÐµÐ¶Ð½ÑÐµ, Ð¿ÑÐ¸ÐºÐ»ÑÑÐµÐ½Ð¸Ñ, ÐºÐ¾Ð¼ÐµÐ´Ð¸Ð¸",Ð¡Ð¨Ð,NaN,16.0,NaN,Ð¡ÐºÐ¾Ñ ÐÑÐ¼ÑÑÑÐ¾Ð½Ð³,"ÐÐ´Ð°Ð¼ ÐÐ°Ð»Ð»Ð¸, ÐÑÐ°Ð¹Ð°Ð½ Ð¥Ð°ÑÐºÐ¸, ÐÐ¶.Ð. Ð¡Ð¼ÑÐ², ÐÐ¶ÐµÐ¹ÑÐ¾Ð½ ÐÐ°Ð½ÑÑÐºÐ°Ñ, ÐÐ¶Ð¾Ð½ ÐÐ»ÐµÐ¹ÑÐµÑ, ÐÐ°ÑÐ» ÐÑÐ¸Ð½, ÐÑÐ¸ÑÑÐµÐ½ Ð Ð¸ÑÑÐµÑ, ÐÑÐ½Ñ Ð ÐµÐ´Ð´Ð¸Ðº, ÐÐ¾ÑÐ¸Ñ ÐÐ¾Ð¼Ñ, ÐÐ°ÑÑÐ¸Ðº ÐÐµÑÐ½Ñ, Ð ÐµÐ±ÐµÐºÐºÐ° ÐÐ¾Ð»Ð»Ð¸Ð½Ð·, Ð Ð¾Ð·Ð° Ð¡Ð°Ð»Ð°Ð·Ð°Ñ, Ð Ð¾ÑÑ Ð. ÐÑÐº, Ð¡ÑÐµÑÑÐ¸ ÐÑÐ¾ÑÑ, Ð¢Ð¸...","Ð£Ð¼Ð¾ÑÐ¸ÑÐµÐ»ÑÐ½Ð°Ñ ÑÐ¾Ð²ÑÐµÐ¼ÐµÐ½Ð½Ð°Ñ ÐºÐ¾Ð¼ÐµÐ´Ð¸Ñ Ð½Ð° Ð¿Ð¾Ð¿ÑÐ»ÑÑÐ½ÑÑ ÑÐµÐ¼Ñ Ð¾ ÑÐ¾Ð¼, ÐºÐ°Ðº Ð½Ðµ Ð½Ð°Ð´Ð¾ Ð¾ÑÐ¼ÐµÑÐ°ÑÑ Ð¼Ð°Ð»ÑÑÐ¸ÑÐ½Ð¸Ðº. ÐÐ»Ð°Ð²Ð½ÑÐ¹ Ð³ÐµÑÐ¾Ð¹ ÑÑÐ²Ð¾Ð¸Ð», ÑÑÐ¾ Ð½Ðµ Ð½Ð°Ð´Ð¾ Ð·Ð²Ð°ÑÑ Ð½Ð° ÑÐ²Ð°Ð´ÑÐ±Ñ ÑÐ²Ð¾ÐµÐ³Ð¾ Ð´ÑÑÐ³Ð° ÐÐ¶ÐµÐ¹ÑÐ¾Ð½Ð°, Ð¸Ð·-Ð·Ð° ÐºÐ¾ÑÐ¾ÑÐ¾Ð³Ð¾ Ð¾Ð½ Ð²Ð¼ÐµÑÑÐ¾ ÑÐ²Ð°Ð´Ðµ...","ÐÐ¾Ð»ÑÐµ, Ð¿ÐµÑÑÑ, 2014, Ð¡Ð¨Ð, Ð´ÑÑÐ·ÑÑ, ÑÐ²Ð°Ð´ÑÐ±Ñ, Ð¿ÑÐµÐ¾Ð´Ð¾Ð»ÐµÐ½Ð¸Ðµ, ÑÑÑÐ´Ð½Ð¾ÑÑÐµÐ¹, ÑÐ°ÑÑÑÐ°Ð²Ð°Ð½Ð¸Ñ, Ð¾ÑÐ½Ð¾ÑÐµÐ½Ð¸Ñ, Ð´ÑÑÐ¶Ð±Ð°, ÑÐ¸ÑÐº, Ð½ÐµÐ´Ð¾ÑÐ°Ð·ÑÐ¼ÐµÐ½Ð¸Ðµ, Ð¼ÑÐ¶ÑÐºÐ°Ñ, Ð´ÑÑÐ¶Ð±Ð°, Ð¼Ð°Ð»ÑÑÐ¸ÑÐ½Ð¸ÐºÐ¸, Ð´ÐµÐ²Ð¸ÑÐ½Ð¸ÐºÐ¸"
15961,4538,series,Ð¡ÑÐµÐ´Ð¸ ÐºÐ°Ð¼Ð½ÐµÐ¹,Darklands,2019.0,"Ð´ÑÐ°Ð¼Ñ, ÑÐ¿Ð¾ÑÑ, ÐºÑÐ¸Ð¼Ð¸Ð½Ð°Ð»",Ð Ð¾ÑÑÐ¸Ñ,0.0,18.0,NaN,"ÐÐ°ÑÐº ÐâÐÐ¾Ð½Ð½Ð¾Ñ, ÐÐ¾Ð½Ð¾Ñ ÐÐ°ÐºÐÐ°Ñ Ð¾Ð½","ÐÑÐ¹Ð½ Ð£Ð°Ð¹Ñ ÐâÐ¥Ð°ÑÐ°, Ð¢Ð¾Ð¼Ð°Ñ ÐÑÐ¹Ð½-ÐÐ¸ÑÐ½, ÐÐ¶ÑÐ´Ð¸Ñ Ð Ð¾Ð´Ð´Ð¸, ÐÐ°ÑÐº ÐâÐ¥Ð°Ð»Ð»Ð¾ÑÐ°Ð½, ÐÐ¶Ð¸Ð¼Ð¼Ð¸ Ð¡Ð¼Ð¾Ð»Ð»Ñ Ð¾ÑÐ½","Ð¡ÐµÐ¼Ð½Ð°Ð´ÑÐ°ÑÐ¸Ð»ÐµÑÐ½Ð¸Ð¹ ÐÑÐ¼Ð¸ÐµÐ½ Ð¼ÐµÑÑÐ°ÐµÑ Ð²ÑÑÐ²Ð°ÑÑÑÑ Ð·Ð° Ð¿ÑÐµÐ´ÐµÐ»Ñ ÑÐ²Ð¾ÐµÐ³Ð¾ ÑÐ°Ð¹Ð¾Ð½Ð° Ð¸ ÑÑÐ°ÑÑ Ð¿ÑÐ¾ÑÐµÑÑÐ¸Ð¾Ð½Ð°Ð»ÑÐ½ÑÐ¼ Ð±Ð¾Ð¹ÑÐ¾Ð¼. ÐÐ¾Ð³Ð´Ð° ÐµÐ³Ð¾ ÐºÑÐ¼Ð¸Ñ Ð¸ ÑÑÐ°ÑÑÐ¸Ð¹ Ð±ÑÐ°Ñ Ð¸ÑÑÐµÐ·Ð°ÐµÑ, Ð¿Ð°ÑÐµÐ½Ñ Ð¿Ð¾Ð¿Ð°Ð´Ð°ÐµÑ Ð² ÑÑÐ¶Ð´ÑÐ¹ ÐµÐ¼Ñ Ð¼Ð¸Ñ Ð½Ð°ÑÐ¸Ð»Ð¸Ñ, Ð½Ð°ÑÐºÐ¾ÑÐ¸ÐºÐ¾Ð² Ð¸ ...","Ð¡ÑÐµÐ´Ð¸, ÐºÐ°Ð¼Ð½ÐµÐ¹, 2019, Ð Ð¾ÑÑÐ¸Ñ"
15962,3206,series,ÐÐ¾ÑÐ°,NaN,2019.0,ÐºÐ¾Ð¼ÐµÐ´Ð¸Ð¸,Ð Ð¾ÑÑÐ¸Ñ,0.0,16.0,NaN,ÐÐ¸Ñ Ð°Ð¸Ð» ÐÐ¸ÑÐ¾Ð½Ð¾Ð²,"ÐÐºÑÑÑÑ ÐÑÐ·ÑÐ¼Ð°Ð½ÑÐ½, ÐÐ¸ÐºÑÐ¾ÑÐ¸Ñ Ð ÑÐ½ÑÐ¾Ð²Ð°","ÐÐ¾Ð±ÑÐ¾Ð´ÑÑÐ½ÑÐ¹ ÐÐ¾ÑÐ° Ð½Ðµ Ð¼Ð¾Ð¶ÐµÑ Ð²ÑÐ¹ÑÐ¸ Ð¸Ð· Ð´Ð¾Ð¼Ð°, ÑÑÐ¾Ð±Ñ Ð½Ðµ Ð¿Ð¾Ð¿Ð°ÑÑÑ Ð² Ð½ÐµÐ»ÐµÐ¿ÑÑ Ð¸ ÐºÑÑÑÑÐ·Ð½ÑÑ Ð¸ÑÑÐ¾ÑÐ¸Ñ. ÐÐ¾ Ð´Ð°Ð¶Ðµ Ð½ÐµÑÐ´Ð°ÑÐ½Ð¸ÐºÐ¸ Ð¼ÐµÑÑÐ°ÑÑ Ð¾ Ð»ÑÐ±Ð²Ð¸, Ð¸ Ð½Ð°Ñ Ð³ÐµÑÐ¾Ð¹ â Ð½Ðµ Ð¸ÑÐºÐ»ÑÑÐµÐ½Ð¸Ðµ, Ð²ÐµÐ´Ñ Ð¾Ð¿ÑÐ¸Ð¼Ð¸Ð·Ð¼Ð° ÐµÐ¼Ñ Ð½Ðµ Ð·Ð°Ð½Ð¸Ð¼Ð°ÑÑ.","ÐÐ¾ÑÐ°, 2019, Ð Ð¾ÑÑÐ¸Ñ"

In [31]:
print(f"Items dataframe shape {items.shape}")
print(f"Unique item_id: {items['item_id'].nunique():_}")

Items dataframe shape (15963, 14)
Unique item_id: 15_963

#  userkNN model  CV

Compare implicit `CosineRecommender` and `TFIDFRecommender` as an ItemKnn base

In [32]:
# setting for cv 
n_folds = 7
unit = "W"
n_units = 1

last_date = interactions[Columns.Datetime].max().normalize()
start_date = last_date - pd.Timedelta(n_folds * n_units + 1, unit=unit)  
print(f"Start date and last date of the test fold: {start_date, last_date}")

Start date and last date of the test fold: (Timestamp('2021-06-27 00:00:00'), Timestamp('2021-08-22 00:00:00'))

### Test fold borders

In [33]:
from rectools.model_selection import TimeRangeSplit

periods = n_folds + 1
freq = f"{n_units}{unit}"
print(
    f"start_date: {start_date}\n"
    f"last_date: {last_date}\n"
    f"periods: {periods}\n"
    f"freq: {freq}\n"
)
    
date_range = pd.date_range(start=start_date, periods=periods, freq=freq, tz=last_date.tz)
print(f"Test fold borders: {date_range.values.astype('datetime64[D]')}")

# generator of folds
cv = TimeRangeSplit(
    date_range=date_range,
    filter_already_seen=True,
    filter_cold_items=True,
    filter_cold_users=True,
)
print(f"Real number of folds: {cv.get_n_splits(interactions)}")

start_date: 2021-06-27 00:00:00
last_date: 2021-08-22 00:00:00
periods: 8
freq: 1W

Test fold borders: ['2021-06-27' '2021-07-04' '2021-07-11' '2021-07-18' '2021-07-25'
 '2021-08-01' '2021-08-08' '2021-08-15']
Real number of folds: 7

In [34]:
from rectools.metrics import Precision, Recall, MeanInvUserFreq, Serendipity, calc_metrics

# calculate several classic (precision@k and recall@k) and "beyond accuracy" metrics
metrics = {
    "prec@10": Precision(k=10),
    "recall@10": Recall(k=10),
    "novelty": MeanInvUserFreq(k=10),
    "serendipity": Serendipity(k=10),
}

# few simple models to compare
models = {
    "cosine_itemknn": CosineRecommender(),
    "tfidf_itemknn": TFIDFRecommender(),
}

# Model training by fold

In [20]:
%%time

results = []

fold_iterator = cv.split(interactions, collect_fold_stats=True)

for i_fold, (train_ids, test_ids, fold_info) in enumerate(fold_iterator):
    print(f"\n==================== Fold {i_fold}")
    pprint(fold_info)

    df_train = interactions.iloc[train_ids].copy()
    df_test = interactions.iloc[test_ids][Columns.UserItem].copy()

    catalog = df_train[Columns.Item].unique()
    
    for model_name, model in models.items():
        userknn_model = UserKnn(model=model, N_users=50)
        userknn_model.fit(df_train)
    
        recos = userknn_model.predict(df_test)
    
        metric_values = calc_metrics(
            metrics,
            reco=recos,
            interactions=df_test,
            prev_interactions=df_train,
            catalog=catalog,
        )
    
        fold = {"fold": i_fold, "model": model_name}
        fold.update(metric_values)
        results.append(fold)

==================== Fold 0
{'End date': Timestamp('2021-07-04 00:00:00', freq='W-SUN'),
 'Start date': Timestamp('2021-06-27 00:00:00', freq='W-SUN'),
 'Test': 237414,
 'Test items': 5947,
 'Test users': 98930,
 'Train': 2533586,
 'Train items': 14092,
 'Train users': 536802}

  0%|          | 0/536802 [00:00<?, ?it/s]

  0%|          | 0/536802 [00:00<?, ?it/s]

==================== Fold 1
{'End date': Timestamp('2021-07-11 00:00:00', freq='W-SUN'),
 'Start date': Timestamp('2021-07-04 00:00:00', freq='W-SUN'),
 'Test': 211146,
 'Test items': 6209,
 'Test users': 86167,
 'Train': 2886800,
 'Train items': 14357,
 'Train users': 595902}

  0%|          | 0/595902 [00:00<?, ?it/s]

  0%|          | 0/595902 [00:00<?, ?it/s]

==================== Fold 2
{'End date': Timestamp('2021-07-18 00:00:00', freq='W-SUN'),
 'Start date': Timestamp('2021-07-11 00:00:00', freq='W-SUN'),
 'Test': 214489,
 'Test items': 6313,
 'Test users': 84234,
 'Train': 3192875,
 'Train items': 14711,
 'Train users': 640144}

  0%|          | 0/640144 [00:00<?, ?it/s]

  0%|          | 0/640144 [00:00<?, ?it/s]

==================== Fold 3
{'End date': Timestamp('2021-07-25 00:00:00', freq='W-SUN'),
 'Start date': Timestamp('2021-07-18 00:00:00', freq='W-SUN'),
 'Test': 231207,
 'Test items': 6491,
 'Test users': 87632,
 'Train': 3506106,
 'Train items': 14928,
 'Train users': 687200}

  0%|          | 0/687200 [00:00<?, ?it/s]

  0%|          | 0/687200 [00:00<?, ?it/s]

==================== Fold 4
{'End date': Timestamp('2021-08-01 00:00:00', freq='W-SUN'),
 'Start date': Timestamp('2021-07-25 00:00:00', freq='W-SUN'),
 'Test': 249396,
 'Test items': 6611,
 'Test users': 93092,
 'Train': 3838180,
 'Train items': 15061,
 'Train users': 734701}

  0%|          | 0/734701 [00:00<?, ?it/s]

  0%|          | 0/734701 [00:00<?, ?it/s]

==================== Fold 5
{'End date': Timestamp('2021-08-08 00:00:00', freq='W-SUN'),
 'Start date': Timestamp('2021-08-01 00:00:00', freq='W-SUN'),
 'Test': 264039,
 'Test items': 6609,
 'Test users': 98161,
 'Train': 4203885,
 'Train items': 15212,
 'Train users': 788721}

  0%|          | 0/788721 [00:00<?, ?it/s]

  0%|          | 0/788721 [00:00<?, ?it/s]

==================== Fold 6
{'End date': Timestamp('2021-08-15 00:00:00', freq='W-SUN'),
 'Start date': Timestamp('2021-08-08 00:00:00', freq='W-SUN'),
 'Test': 276699,
 'Test items': 6715,
 'Test users': 101983,
 'Train': 4587708,
 'Train items': 15404,
 'Train users': 842129}

  0%|          | 0/842129 [00:00<?, ?it/s]

  0%|          | 0/842129 [00:00<?, ?it/s]

CPU times: user 2h 51min 48s, sys: 55.1 s, total: 2h 52min 43s
Wall time: 2h 52min 24s

# ð Metrics 

`Metrics by fold`

## Metric description 
- ### <a href="https://rectools.readthedocs.io/en/latest/api/rectools.metrics.novelty.MeanInvUserFreq.html#rectools.metrics.novelty.MeanInvUserFreq"> Mean Inverse User Frequency (novelty)</a>

- ### <a href="https://rectools.readthedocs.io/en/latest/api/rectools.metrics.serendipity.Serendipity.html"> Serendipity = novelty and relevance</a>

In [29]:
df_metrics = pd.DataFrame(results)
df_metrics

    fold           model   prec@10  recall@10   novelty  serendipity
0      0  cosine_itemknn  0.002922   0.014984  9.260631     0.000038
1      0   tfidf_itemknn  0.004639   0.024704  8.321053     0.000039
2      1  cosine_itemknn  0.003003   0.015476  9.358990     0.000049
3      1   tfidf_itemknn  0.004590   0.024952  8.381346     0.000047
4      2  cosine_itemknn  0.002793   0.014482  9.503543     0.000053
5      2   tfidf_itemknn  0.004015   0.021479  8.513031     0.000051
6      3  cosine_itemknn  0.002605   0.013047  9.595365     0.000052
7      3   tfidf_itemknn  0.004076   0.020768  8.612428     0.000057
8      4  cosine_itemknn  0.002469   0.011693  9.624027     0.000057
9      4   tfidf_itemknn  0.003720   0.018538  8.647398     0.000058
10     5  cosine_itemknn  0.002415   0.011502  9.634881     0.000057
11     5   tfidf_itemknn  0.003637   0.018502  8.644493     0.000055
12     6  cosine_itemknn  0.002424   0.011187  9.715327     0.000064
13     6   tfidf_itemknn  0.003612   0.017961  8.695295     0.000059

In [77]:
df_metrics.to_pickle("df_metrics.pickle")

## Metrics mean by fold
`we can compare two models`

In [79]:
df_metrics.groupby('model').mean()[metrics.keys()]

                 prec@10  recall@10   novelty  serendipity
model
cosine_itemknn  0.002662   0.013196  9.527538     0.000053
tfidf_itemknn   0.004041   0.020986  8.545006     0.000052

## Metrics std by fold

`If a diff between model metrics less than an std value => there is no significant difference observed`

- For instance, for the serendipity metric there is no such difference between cosine_itemknn and tfidf_itemknn model results

In [80]:
df_metrics.groupby('model').std()[metrics.keys()]

                 prec@10  recall@10   novelty  serendipity
model
cosine_itemknn  0.000245    0.00179  0.163769     0.000008
tfidf_itemknn   0.000430    0.00292  0.144612     0.000007

In [46]:
df = df_metrics.groupby('model').mean()[metrics.keys()]

In [59]:
diff = df.loc['cosine_itemknn'] - df.loc['tfidf_itemknn']
diff

prec@10       -1.379527e-03
recall@10     -7.790503e-03
novelty        9.825315e-01
serendipity    3.613396e-07
dtype: float64